.all{
  padding-top: 70px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*height: 65vh;*/
}

.img_content{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 440px;
  height: 450px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
  margin: 15px;
}

.img_content > .img{
  width: 110%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -15px;
  background-size: cover;
  transition: .2s;
}

.img_content:hover > .img{
  background-position-y: -76px;
}

.img_content > .img > .info{
  position: absolute;
  bottom: -100px;
  left: 0;
  background: #fff;
  width: 100%;
  height:101px;
  padding: 2px 5px;
  text-align: center;
  z-index: 10;
  transition: .2s;
  font-size: .9em;
  user-select: none;
}

.img_content:hover > .img > .info{
  bottom: 0;
}

@media (max-width: 768px) {
  .img_content {
    width: calc(100% - 30px);
  }
}