.all{
    padding-top: 70px;
}

.ordAndFil1 {
    border-right: 1px solid black;
    padding: 7px;
}

.ordAndFil2 {
    border-right: 1px solid black;
    padding: 7px;
}

.ordAndFil3 {
    padding: 7px;
}
