/* .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
    padding-bottom: 4rem;
  }
  
  .footer {
    height: 4rem;
    background-color: #e2e2e2;
    position: fixed;
 margin-top: 50%;
  } */
  @media (max-width: 600px) {
    .prueba{
    width:100vw;
    }
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    .prueba{
        width:120vw;
    }
  }
  